.contacts {
    padding-top: 50px;
    padding-bottom: 233px;
    .title-section {
        margin-bottom: 102px;
    }
    .contacts__info {
        padding-left: 124px;
        height: 100%;
        border-left: 1px solid #DCDCDC;
        h4 {
            font-size: $fs-22 + 8;
            font-family: $font-family-second;
            font-weight: 400;
            margin-bottom: 20px;
        }
        > p{
            margin-bottom: 60px;
            &:last-of-type {
                margin-bottom: 26px;
            }
        }
    }
}