.slider {
    margin: 24px 0;
    height: 540px;
    overflow: hidden;
    .slick-track {
        display: flex;
        align-items: center;
        justify-content: center;
        .slider-items {
            img {
                margin: 15px;
                max-width: 100%;
                @include transform(scale(.9));
                @include transition(0.5s ease);
            }
            &.slick-center {
                img {
                @include transform(scale(1.1));
                }
            }
        } 
    }
    .slick-prev, .slick-next {
        width: 80px;
        height: 80px;
        @include border-radius(50%);
        background-color: $bg-color-red;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.68); 
        z-index: 10;
        &:hover {
            background-color: $bg-color-red * 2;
        }
    }
    .slick-prev {
        left: 24%;
        &::before {
            content: '\f104';
            font-family: 'FontAwesome', sans-serif;
            font-size: $fs-22 + 40;
            color: $white-color;
            opacity: 1;
            padding-right: 5px;
        }
    }
    .slick-next {
        right: 24%;
        &::before {
            content: '\f105';
            font-family: 'FontAwesome', sans-serif;
            font-size: $fs-22 + 40;
            color: $white-color;
            opacity: 1;
            padding-left: 5px;
        }
    }
}

#open-game__slider {
    width: 100%;
    position: relative;
    .btn-play-game {
        bottom: 45px;
    }
}

.name-open-game {
    margin-bottom: 48px;
    margin-top: -20px;
    h2 {
        font-size: $fs-22 + 50;
        font-family: $font-family-second;
        font-weight: 400;
    }
    a {
        font-size: $fs-22 + 2;
        font-weight: 700;
        color: $red-color;
    }
}
